/target
/.idea
dbrman/target
/nsql/target/
/nsql-dump/target/
/ndb-servers/target/
/ndb-cmd/target/
/ndb-core/target/
/ndb-export/target/
/ndb-import/target/
/ndb-full/target/

/ndb-desktop/target/

/ndb/target/
